<% if flash[:notice] %>
    <p style="color: green">
      <%= flash[:notice] %>
    </p>
<% end %>

<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
        <td>
          <%= link_to "Show", book_path(book.id) %>
          <%= link_to "Edit", edit_book_path(book.id) %>
          <%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm"  => "Are you sure?" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>New book</h2>

<% if @book.errors.any? %>
  <div style="background-color: #f0f0f0; width: 450px;" >
    <% if @book.errors.count == 1 %>
      <p style="color: white; background-color: red; margin: 0;"><%= @book.errors.count %> error prohibited this book from being saved:</p>
    <% elsif @book.errors.count > 1 %>
      <p style="color: white; background-color: red; margin: 0;"><%= @book.errors.count %> errors prohibited this book from being saved:</p>
    <% end %>
    <ul style="border: 3px solid red; margin: 0; ">
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @book, url: '/books', method: :post do |f| %>
  <h3>Title</h3>
  <%= f.text_field :title %>
  <h3>Body</h3>
  <div style="display: block">
    <%= f.text_area :body %>
  </div>

  <%= f.submit 'Create Book' %>
<% end %>
